.place {
    display: grid;
    grid-template-columns: minmax(min-content, 460px) minmax(min-content, max-content);
    gap: 48px 40px;
    grid-template-areas:
    "title website"
    "image paragraphs";
    margin-bottom: 80px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: minmax(min-content, 440px) minmax(min-content, max-content);
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: minmax(min-content, 340px) minmax(min-content, max-content);
        gap: 48px 28px;
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 629px) {
    .place {
        grid-template-columns: minmax(min-content, max-content);
        gap: 32px;
        margin-bottom: 50px;
        grid-template-areas:
        "title" 
        "website"
        "image"
        "paragraphs";
    }
}
