.place__paragraph {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin-bottom: 26px;
    grid-area: paragraph;
}

.place__paragraph:last-child {
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 163%;
    }
}

@media screen and (max-width: 629px) {
    .place__paragraph {
        font-size: 16px;
        padding: 0 16px;
    }
}