.place__paragraph {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin-bottom: 26px;
    max-width: 484px;
}

.place__paragraph:last-child {
    margin-bottom:0px;
}