.header__lang_links {
    margin: 0;
    padding: 0;
    margin-top: 18px;
    list-style: none;
    display: flex;
}

.header__lang_links li:nth-child(1) {
    margin-right: 18px; 
 }


 @media screen and (max-width: 425px) {
    .header__lang-links {
        margin-top: 14px;
    }
    }